# Geospatial Data Analysis I 

## Pandas - Exercise

### Exercise 1: DataFrames

#### Create a  DataFrame

- Create a **DataFrame** containing the <font color="green">names</font> und <font color="green">diameters</font> of the planets in our solar system. Import pandas and use the following information:

    - Merkur: 4879,4 km  
    - Venus: 12103,6 km
    - Erde: 12756,3 km
    - Mars: 6792,4 km
    - Jupiter: 142984 km
    - Saturn: 120536 km
    - Uranus: 51118 km

In [ ]:
#[1]

#### Accessing and adding columns

- Save the <font color="green">diameter</font> of the planets in a new variable **d** as **NumPy-Array** using the attribute ``data.values``.

- Add two columns for <font color="green">circumference</font> and <font color="green">surface</font> to your planet DataFrame. Add the columns using the syntax: 

``df["NewCoulumn"] = calculation...``

To keep it simple usinf the following equations for calulating circumference and surface:

> $$U = \pi * d$$
> $$O = \pi * d^2$$

**Hint:** Import NumPy to use *Pi* as ``np.pi``.

In [ ]:
#[2]

Saving DataFrames 

- save your DataFrame as <font color="green">.csv file</font> using the Pandas method <font color="red">to_*</font>.

In [ ]:
#[3] DataFrame speichern

### Exercise 2: Indexing

To explore futher functionalities in Pandas we are going to use a dataset from the NASA Exoplanet Archive (see also ILIAS):

https://exoplanetarchive.ipac.caltech.edu/

This datset contains information on exoplantes that have been discovered  outside of our solar system. 

#### Importing a table using Pandas

- Use Pandas <font color="red">read_*</font> functionality to import the data on the first sheet (<font color="red">sheet = "name" </font>) of the Excel spreadsheet *NASA_exoplanets.xlsx*

**Hinweis** By default Pandas also imports the first sheet of an Excel file.

In [ ]:
#[4] importing the NASA Exoplanet Archive data set

#### Inspecting the table 
- Have a look at the first and last entries in the data set using the ``head()`` und ``tail()`` functionalities.
- Use ``info()`` to get an overview on the entire data set. 
- What is the data type of the *disc_year* column in the **DataFrame**? 
- What is the dimension (``shape``) of the **DataFrame**?

In [ ]:
#[5] first entries of the DataFrame

In [ ]:
#[6] last entries of the DataFrame

In [ ]:
#[7] overview

In [ ]:
#[8] Dimensions of the DataFrame

#### Indexing and selecting
- Use a label-based query with <font color="red">.loc</font> to output:

    - the entire column *pl_name* as a **DataFrame**.
    - the first 100 rows of the column *number_stars* and *number_planets* as **DataFrame**.
    - every second row of column *pl_name* as a **Series** object.

**Achtung:** die Label-basierte Abfrage ist in Pandas **inklusiv**. Das hei√üt, der *Stopwert* wird beim indizieren ebenfalls mit ausgegeben.

In [ ]:
#[9] entire column pl_name as DataFrame

In [ ]:
#[10] the first 100 rows of column number_stars and number_planets as DataFrame

In [ ]:
#[11] every second row of column pl_name as Series

- Use integer-based queries with <font color="red">.iloc</font> to output:
    - the last 100 rwos of all columns as a **DataFrame**.
    - rows 5,8 and 20 of the first two columns as a **DataFrame**.
    - the year of discovery (*disc_year*) for row index 250.

In [ ]:
#[12] the last 100 rows of all columns as DataFrame

In [ ]:
#[10] Rows 5,8 und 20 of the first two columns as DataFrame.

In [ ]:
#[11] the year of discovery (*disc_year*) for row index 250

### Exercise 3: Combining data and tables

Now we are going to add more information to our data set. 

In addition to general information on name, number of stars and planets, discovery etc. that were already contained in the .xlsx file (*NASA_exoplanets.xlsx*), there are more parameters to be found in: 

**Planetary Parameters**
- planet_part1.csv
- planet_part2.csv

- Import the addition tabels / data from the <font color="green">csv. Dateien</font> into separate Pandas **DataFrame**.

- Inspect both data sets using functionalities such as ``.head()`` oder ``.info()``. Is there a common identifier (e.g. column name)?

In [ ]:
#[15] importing the data sets

- Use the ``concat()`` method to combine both planetary data sets (*planet_part1.csv*, *planet_part2.csv*) into one **DataFrame**.

In [ ]:
#[16] concat

- Now use the ``merge()`` method to combine the exoplanet dataset from above and the newly concated planteary data sets into one single **DataFrame**  using a common identifier. 

- How many rows and columns are contained in the new **DataFrame**?

In [ ]:
#[17] combining both DataFrames using the common identifier "pl_name"

## END